<%- contentFor('style') %>
<style>
    .weui-cell{
        padding: 20px 25px;
        font-size: 16px;
    }
</style>

<%- contentFor('content') %>
<ul class="nav-list">
    <li class="nav-item">
        <a href="/personal/myLoan" class="weui-cell weui-cell_access weui-cell_link">
            <div class="weui-cell__bd">我的借款</div>
            <span class="weui-cell__ft"></span>
        </a> 
    </li>
    <li class="nav-item">
        <a href="/personal/myRecommend" class="weui-cell weui-cell_access weui-cell_link">
            <div class="weui-cell__bd">我的推荐</div>
            <span class="weui-cell__ft"></span>
        </a> 
    </li>
    <li class="nav-item">
        <a href="/personal/feedback" class="weui-cell weui-cell_access weui-cell_link">
            <div class="weui-cell__bd">问题反馈</div>
            <span class="weui-cell__ft"></span>
        </a> 
    </li>
</ul>