<%- contentFor('style') %>
<title>我要推荐</title>
<style>
  .weui-label{
    width: 140px;
  }
  .weui-cell{
    padding: 20px 10px;
  }
  .weui-select{
    padding: 0;
  }
  .submit{
    margin-top: 50px;
  }
</style>

<%- contentFor('content') %>
<form id="loanForm">
    <div class="weui-cells weui-cells_form">
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" required name="userName" pattern="[\u4e00-\u9fa5]+" tip="姓名" placeholder="请输入姓名">
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">手机号</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="number" required name="userPhone" pattern="^1[3|4|5|7|8]\d{9}$" tip="手机号" placeholder="请输入手机号">
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">被推荐人姓名</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" required name="recName" pattern="[\u4e00-\u9fa5]+" tip="姓名" placeholder="请输入姓名">
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">被推荐人手机号</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="number" required name="recPhone" pattern="^1[3|4|5|7|8]\d{9}$" tip="手机号" placeholder="请输入手机号">
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">借款金额</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="number" required name="money" pattern="[0-9]+" tip="借款金额" placeholder="请输入借款金额">
        </div>
      </div>
      <div class="weui-cell" style="height:26px;">
        <div class="weui-cell__hd"><label class="weui-label">分期数</label></div>
        <div class="weui-cell__bd">
          <select class="weui-select" name="term">
            <option value="12">12期</option>
            <option value="24">24期</option>
            <option value="36">36期</option>
          </select>
        </div>
      </div>
    </div>
    <div style="padding:10px;">
        <a href="javascript:;" class="weui-btn weui-btn_primary submit">提交</a>	
    </div>
</form>

<%- contentFor('script') %>
<script>
  var loanForm = $('#loanForm');
  var submitData = {};
  $('.submit').click(function(){
    var openId = getQueryString('openId');
    //表单验证
    var inp = $('#loanForm input');
    var verifyBtn = false;
    inp.each(function(index,item){
      var val = $(item).val();
      var required = $(item).attr('required');
      var reg = new RegExp($(item).attr('pattern'),'g');
      var tip = $(item).attr('tip');
      if(val==''&&required){
        $.alert("必填项不能为空","温馨提示",function(){
          $(item).focus();
        });
        verifyBtn = true;
        return false;
      }
      if(!reg.test(val)){
        $.alert("请输入正确的"+tip,"温馨提示",function(){
          $(item).focus();
        });
        verifyBtn = true;
        return false;
      }
    })
    if(!verifyBtn){
      submitData = loanForm.serializeJson();
      submitData.openId = openId;
      $.ajax({
        url:ajaxhost+'/ssm/user/insertRec',
        data:submitData,
        type:'post',
        success:function(data){
          if(data.code==0){
            $.alert(data.message,'温馨提示');
          }else{
            $.alert(data.message,'温馨提示');
          }
        }
      })
      console.log(submitData);
    }
  })
</script>