<%- contentFor('content') %>
<div style="padding:10px;">
  <a href="javascript:;" class="scan weui-btn weui-btn_primary submit">扫一扫</a>
</div>

<%- contentFor('script') %>
<script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<script>
  $.ajax({
    url: '/signature?url='+location.href,
    type: 'get',
    success: function(data){
      console.log(data);
      wx.config({
        debug: true,    //开启调试模式
        appId: 'wx57777f72f0f81151',     //公众号唯一ID
        timestamp: data.timeStamp,     //生成签名时间戳
        nonceStr: data.nonceStr,      //生成签名随机串
        signature: data.signature,     //签名
        jsApiList: ['scanQRCode']      //需要使用的JS接口列表 
      })
    }
  })

  wx.ready(function(){
    console.log('微信认证成功');
  })

  wx.error(function(res){
    console.log('认证失败原因：'+res);
  })

  wx.checkJsApi({
    jsApiList: ['scanQRCode'],
    success: function(res){
      console.log('检验二维码扫描接口：'+res);
    }
  })

  var $scan = document.querySelector('.scan');
  $scan.onclick = function(){
    wx.scanQRCode({
      needResult: 1,     //默认为0，由微信处理扫描结果，1则直接返回扫描结果
      scanType: ['qrCode', 'barCode'],     //可以指定扫描二维码还是一维码，默认两者都有
      success: function(res){
        var result = res.resultStr;     //扫码返回的结果
        console.log('扫码返回的结果：'+result);
      }
    })
  }
</script>